html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#nav {
  background-image: linear-gradient(8deg, #fc8905 0%, #f14d5c 60%) !important;
  width: 100%;
  height: 60px;

  padding-top: 25px;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
  margin-left: 40px;
  list-style: none;
}

li,
a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.about > h1 {
  margin-bottom: 100p;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;

  display: flex;

  float: left;
}

.intro-words {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 300px;
  overflow: hidden;
  display: inline-block;
  margin-left: 60px;
  color: #2a3b47;
}

.intro-words > h1 {
  font-weight: 400;
}

.intro {
  margin-bottom: 560px;
}
.about {
  margin-bottom: 60px;
}
#about_inline {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.description {
  color: #2a3b47;
  font-size: 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15px;
}

#chess {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
  height: 100px;
}

button {
  background-image: linear-gradient(8deg, #fc8905 0%, #f14d5c 60%) !important;
  border-radius: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  border-color: transparent;
  height: 30px;
  border: none;
}

.why_sd {
  background-image: linear-gradient(8deg, #fc8905 0%, #f14d5c 60%) !important;
  color: white;
  padding-bottom: 15px;
  padding-top: 2px;
  margin-bottom: 60px;
}

.wrap > p {
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
}
.languages {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 10px;
}
.js {
  height: 220px;
  position: absolute;
}
.html {
  height: 180px;
}

.css {
  height: 20vh;
  position: relative;
}

.project {
  margin-top: 100px;
}
.project_cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 500px;
  background-image: linear-gradient(8deg, #fc8905 0%, #f14d5c 60%) !important;

  padding: 0.4em;
  border-radius: 6px;
}

.card-image {
  width: 500px;
  height: 300px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: white;
  padding: 7px;
  font-weight: 400;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 19px;
  padding-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.name:hover {
  cursor: pointer;
}
